# ملفات النظام
.idea/
.vscode/
.DS_Store
Thumbs.db

# مجلدات يتم إنشاؤها تلقائيًا

/pub/static/*
!/pub/static/.htaccess

/generated/*
!/generated/.htaccess

/pub/media/*
!/pub/media/.htaccess

# vendor وملفات Composer
/vendor/*
!/vendor/.htaccess
/composer.lock

# بيئة محلية وملفات حساسة
/app/etc/env.php
/auth.json
/auth.json.sample

# Logs
*.log
/var/log/*
/var/report/*

# مجلدات أخرى
/node_modules/
/bower_components/

# SASS Cache
.sass-cache/

# ملفات مؤقتة
*.tmp
*.temp
*.swp
*.swo

# Backup files
*.bak
*.orig
sm_ecomus_quickstart_pl_m2.4.8_v1.1.0.zip
sm_ecomus_quickstart_pl_m2.4.8_v1.1.0.zip


app/code/Josequal/APIExcample/
