<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ImportExport\Model\Import\Source\Csv" type="Josequal\DataImportExport\Model\Import\Source\EnhancedCsv"/>
    <preference for="Magento\ImportExport\Model\Export\Config" type="Josequal\DataImportExport\Model\Export\EnhancedConfig"/>
</config>
