<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Josequal_ImportExport::josequal_import_export" title="Import/Export" module="Josequal_ImportExport" sortOrder="100" parent="Magento_Catalog::catalog" resource="Josequal_ImportExport::josequal_import_export"/>

        <add id="Josequal_ImportExport::import_export_products" title="Products Import/Export" module="Josequal_ImportExport" sortOrder="10" parent="Josequal_ImportExport::josequal_import_export" action="josequal_import_export/products/index" resource="Josequal_ImportExport::import_export_products"/>

        <add id="Josequal_ImportExport::import_export_categories" title="Categories Import/Export" module="Josequal_ImportExport" sortOrder="20" parent="Josequal_ImportExport::josequal_import_export" action="josequal_import_export/categories/index" resource="Josequal_ImportExport::import_export_categories"/>

        <add id="Josequal_ImportExport::import_export_log" title="Import/Export Log" module="Josequal_ImportExport" sortOrder="30" parent="Josequal_ImportExport::josequal_import_export" action="josequal_import_export/log/index" resource="Josequal_ImportExport::import_export_log"/>
    </menu>
</config>
